


<h1>IndexVue</h1>

<article id="app" class="row">
    <header class="col-md-4">
        <h3>{{ message }}</h3>
    </header>
</article>



@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Loading books...',
            }
        });
    </script>
}